<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>퀀트투자 도우미</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/app/styles2.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">퀀트투자도우미</a>
    </div>
</nav>
<!-- Header-->
<header class="py-5">

</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">PBR</h2>
                        <p class="mb-0">주가를 주당순자산가치로 나눈 시장가치비율로, 기업의 순자산에 대해 1주당 몇 배 거래되고 있는지 표시하는 식입니다.
                            <br>주가순자산비율 = 주가 / 주당순자산가치 <br> = 시가총액 / 순자산</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">PSR</h2>
                        <p class="mb-0">주가매출액비율로, 현재 주가를 1주당 매출액을 나타나는 주당매출액으로 나눈 값입니다.
                            <br> 순이익이 아닌 매출액을 기준을 함으로써 상대적으로 저평가된 기업을 찾을 때 사용합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">PCR</h2>
                        <p class="mb-0">주가현금흐름비율로, 주가에 비해 주당 현금흐름이 얼마나 되는지 나타낸 값입니다.
                            <br>실제기업이 사용할 수 있는 돈을 현금흐름으로 말하며, 이 현금흐름을 주식 수로 나눈 값입니다.
                            <br>PCR이 낮을 수록 현금동원력이 커서 안정적인 기업이라고 할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">PER</h2>
                        <p class="mb-0">주가 수익률로, 주가를 1주당 자으로 니눈 값입니다.
                            PER이 낮을 경우 해당 회사의 주가가 이익에 비해 저평가되어 있다는 의미로 볼 수 있고 PER이 높으면 이익에 비해 주가가 고평가되었음을 의미합니다.
                            <br> 기업의 적정 주가를 PER을 이용해 판단합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">ROA</h2>
                        <p class="mb-0">총자산 순이익률로, 총자산에는 자산과 부채가 포함되어있으며 한기업이
                            보유하고 있는 총 자산으로 얼마나 많은 순수익을 올렸는지 알 수 있는 수익성 지표 입니다.
                            <br> 즉 자산의 효율성을 알려줍니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold">CFO</h2>
                        <p class="mb-0">영업활동으로 인한 현금률로, 가업이 영업활동을 통해 발생되는 현금을 말합니다. 즉 기업의 주요 활동을 통한 현금의 유입과 유출의 합산을 말하는데
                            <br>영업활동으로 인한 현금흐름으로 기업의 현재 현금으로 무엇을 할 수 있는 여건이 되는지를 판단할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">복세편살</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

</body>
</html>